.icon {
  width: 22px;
  height: 22px;
}

/* Dark mode styles */
.dark {
  dark {
    display: none;
  }

  light {
    display: block;
  }
}

/* Light mode styles */
.light {
  light {
    display: none;
  }

  dark {
    display: block;
  }
}